---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Packer Lint

on:
  push:
    paths:
      - '**.hcl'
      - .github/workflows/packer-lint.yml
  pull_request:
  workflow_dispatch:

permissions: {}

concurrency:
  group: packer-lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  packer-lint:
    name: Lint packer Playbooks
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup packer
        uses: hashicorp/setup-packer@1aa358be5cf73883762b302a3a03abd66e75b232 # v3.1.0
        id: setup
        with:
          version: latest

      - name: Run packer validate
        id: validate
        run: |
          find . -name "*.pkr.hcl" -exec packer validate -syntax-only {} \;
