name: 'Packer vSphere Ubuntu 22.04 CI Template Generator'

env:
  # vSphere password used for authentication
  VCENTER_PASSWORD: ${{ secrets.VSPHERE_PASSWORD }}
  # Deployment Password
  SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}

on:
  workflow_dispatch:
  
permissions:
  contents: read
  
jobs:
  packer:
    name: 'Packer Build Pipeline'
    runs-on: [self-hosted, devops]
    environment: production  
    steps:
    - name: Checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
 
    - name: Packer Setup
      uses: hashicorp/setup-packer@main
      id: setup
      with:
        version: "latest"
        
    - name: Run init        
      working-directory: ./VMware/Ubuntu-22-04
      run: packer init linux-server.pkr.hcl

    - name: Run validate
      working-directory: ./VMware/Ubuntu-22-04
      run: packer validate -var-file=variables.pkrvars.hcl linux-server.pkr.hcl
      env:
        PKR_VAR_vcenter_password: ${{ env.VCENTER_PASSWORD }}
        PKR_VAR_ssh_password: ${{ env.SSH_PASSWORD }}

    - name: Run build
      working-directory: ./VMware/Ubuntu-22-04
      run: packer build -var-file=variables.pkrvars.hcl linux-server.pkr.hcl
      env:
        PKR_VAR_vcenter_password: ${{ env.VCENTER_PASSWORD }}
        PKR_VAR_ssh_password: ${{ env.SSH_PASSWORD }}
